/* Style SASS SCSS til alt styling */

/* FARVER VARIABLES */
/* ctrl + e åbner en et vindue hvor man kan manipulere farver og gradients */

$basecolor: #98fb98;
$basecontrastcolor: #333;
$accentcolor: #3cb7a9;
$accentcolordark: darken($accentcolor, 20%);
$accentcolorlight: lighten($accentcolor, 20%);
$positivecolor: green;
$negativecolor: red;


body {
    font-family: "Lato", sans-serif;
    background-color: $basecolor;
    font-weight: 400;
    line-height: 1.45;
    color: $basecontrastcolor;
}


/* HEADER */

header{
    margin-bottom: 0;
}

.splash-image{
    background-image: url(/imgs/splashimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

header h1{
    font-size: 2.5em;
    color: #f7f7f7;
    opacity: .8;
    z-index: 0;
}

header h2{
    font-size: 1.5em;
    color: #747474;
    opacity: .8;
    z-index: 0;
}


/* TYPOGRAFI */

html {font-size: calc(0.5em + 2vw);}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 0.5em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

small, .font_small {font-size: 0.667em;}

.topnav {
  display: none;
}


/* NAV MOBIL */
#nav_container{
    margin-top: 25%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #333333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 10px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.8em;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 0% 0% 5% 0%;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 10%;
}

.openbtn{
    position: fixed;
    top: 1%;
    right: 2%;
    color: aliceblue;
}

.openbtn:hover{
    color: grey;
}

#nav_open{
    width: 10%;
    height: 3%;
}

.bar {
    width: 100%;
    height: 20%;
    margin-top: 15%;
    background-color: #ffffff;
    border-radius: 100px;
    opacity: 1;
    z-index: 500;
}

#nav_open:hover .bars .bar{
    background-color: #4a4a4a;
}

/* NAV MOBIL ANIMATION */

.sidenav_anim1 {
    animation-name: nav_anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes nav_anim {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.sidenav_anim2 {
    animation-name: nav_anim2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes nav_anim2 {
    0% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 0%;
        opacity: 0;
    }
}


/* FLYING MEN */

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background:#000;
	cursor: pointer;
}


/* LIST PAGE CONTENT */

.list_cont{
    background-color: #ffffff;
    margin-bottom: 100px;
}

.list_cont a{
    text-decoration: none;
    color: #ff7fab;
}

.list_cont a:hover{
    text-decoration: none;
    color: #38c738;
}


/* SINGLE PAGE CONTENT */



/* FRONT PAGE CONTENT */

.small-images img {
    width: 95%;
    filter: grayscale(0%);
}

.small-imgs{
    width: 100%;
}

.sm-img-container{
    background-color: #fff;
    padding: 30px 0 20px 0;
}

.small-images img:hover {
    width: 100%;
    filter: grayscale(100%);
    margin-left: -2.5%;
}



/* KONTAKTFORMULAR */

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

textarea {
  height: 200px; }

#formfeedback{
    color: #ffffff;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    margin-top: 3%;
    width: 80%;
}

input[type=submit]:hover {
  background-color: #45a049; }

.container {
  border-radius: 5px;
  background-color: #333333;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; }

.hidden {
  display: none; }

#formfailure {
  background-color: red;
  padding: 1em; }



/*# sourceMappingURL=style.css.map */



/* FOOTER */

footer{
    background-color: #3c3c3c;
    width: 100%;
    height: 30%;
}

/* queries til TABLET - 768px v 16 px font */

@media only screen and (min-width: 48em) {
    
body{
    background-color: red;
}
    html {
        font-size: calc(0.80em + 2vw);
    }
    
    .container {
        width: 88%;
    }
    
    
/* NAV DESKTOP */
.topnav {
    display: none
}
 
    
/* NAV TABLET MOBILE */

#nav_container{
    margin-top: 10%;
}
    
.sidenav .closebtn {
    right: 25px;
    font-size: 2em;
    margin-left: 50px;
    margin-top: 5%;
}

.sidenav a {
    font-size: 1em;
    margin-top: 5%;
}
    
#nav_open{
    width: 5%;
    height: 3%;
}
    
.bar {
    width: 100%;
    height: 20%;
    margin-top: 12%;
    z-index: 500;
}    


}




/* Mediaqueries til MINDRE COMPUTER - 1024px v 16 px font */

@media only screen and (min-width: 64em) {
    
body{
    background-color: yellow;
}
    html {
    font-size: calc(0.9em + 1.5vw);
    }
    .container {
        width: 88%;
    }

}




/* Mediaqueries til STØRRE COMPUTER - 1200px v 16 px font */

@media only screen and (min-width: 75em) {
    
body{
    background-color: #838383;
}
    html {
    font-size: calc(0.5em + 1vw);
    }
    .container {
        width: 88%;
    }

    
/* NAV DESKTOP */
    
#myTopnav{
    position: fixed;
    z-index: 100;
}
    
.topnav {
    display: inherit;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,.9), rgba(255,255,255,0));
}

.topnav a {
  float: left;
  display: block;
  color: #242424;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #7e7e7e;
  color: black;
}

.active {
  background-color: #7e7e7e;
  color: white;
}

.topnav .icon {
  display: none;
}
    
/* NAV MOBILE */
    
.sidenav{
    display: none;
} 
    
.sidenav .closebtn {
    display: none;
}

.openbtn{
    display: none;
}
    
    
/* FOOTER */

footer{
    background-color: #3c3c3c;
    width: 100%;
    height: 30%;
}
    
}




