
<!-- jQuery Library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<!-- NIVOLIGHTBOX PLUGIN -->
<script src="{{ .Site.BaseURL }}nivolightbox/dist/nivo-lightbox.min.js"></script>

<!-- Multiscroll PLUGIN -->
<!--<script src="{{ .Site.BaseURL }}multiscroll/dist/jquery.multiscroll.min.js"></script>
<script src="{{ .Site.BaseURL }}multiscroll/vendors/jquery.easings.min.js"></script>-->

<!-- JS filer SRC -->
<script src="{{ .Site.BaseURL }}js/formular.js"></script>
<script src="{{ .Site.BaseURL }}js/jumping.js"></script>
<script src="{{ .Site.BaseURL }}js/nav.js"></script>
<script src="{{ .Site.BaseURL }}js/script.js"></script>


<footer>
    <div class="footer1">
    FOOTER
    </div>
</footer>

<!--<img src="../imgs/batman.png" alt="batman">-->